.chat {
    width: 100%;

    background-color: $bg-layout-color;

    & .container{
        display: grid;
        grid-template-columns: minmax(260px, 2.5fr) minmax(550px, 5.5fr);
        grid-template-rows: 1fr;
        grid-gap: 0px 20px;
        
        padding: 0px 10px;
    }
}

.chat__left {
    //height: 100%;
    padding: 15px 0;
}

