.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 66px;
    grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
    /* display: flex;
    flex-direction: column; */

    height: 100%;
    border-left: 1px solid $bg-chat-color;
}

.main__header {
    grid-area: header;
    padding: 15px 12px;
}

.main__content {
    grid-area: content;
    background-color: $bg-chat-color;
    height: 100%;
}

.main__footer {
    grid-area: footer;
    margin-bottom: 5%;
}