.menu {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;

    width: 100%;
    height: 32px;

    margin-bottom: 20px;
}

.menu__options {
    cursor: pointer;
    
    margin: auto 10px auto 0;
}

.menu__button {
    position: relative;

    width: 18px;
    height: 2px;
    background-color: $text-placeholder-color;
    
    //margin: auto 10px auto 0;
    margin-bottom: 3px;

    // &:last-child {
    //     margin-bottom: 0;
    // }
    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        top: -5px;
        display: inline-block;
        width: 18px;
        height: 2px;
        background-color: $text-placeholder-color;
    }
    &:after {
        top: -10px;
    }
}

.menu__search {
    width: 195px;
    height: 30px;
    flex:1;
}

.menu__search-input {
    background-color: $bg-element-color;
    border-radius: 4px;

    color: $text-color;
    
    width: 100%;
    height: 100%;

    padding: 10px;
}