.messages {
    padding: 4px 12px;
    height: 100%;
}

.messages__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    overflow-y: auto;
}

.messages__item {
    display: flex;

    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    &.hidden { // для скрытия аватарки и изменение формы сообщения
        .messages__avatar {
            visibility: hidden;
            opacity: 0;
        }
        .messages__message:before {
            display: none;
        }
    }

    // my messages
    &.me {
        flex-direction: row-reverse;
        justify-content: flex-start;

        .messages__avatar {
            margin-right: 0;
            margin-left: 10px;
        }

        .messages__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .messages__message {
            background-color: $bg-my-message-color;

            &:before {
                right: -6px;
                left: auto;

                background: url('./images/shape_right.png') center center no-repeat;
            }
        }
    }
}

.messages__avatar {
    position: relative;
    flex-shrink: 0;
    align-self: flex-end;

    width: 34px;
    height: 34px;

    visibility: visible;
    opacity: 1;

    background-color: $bg-element-color;
    border-radius: 50%;
    overflow: hidden;

    margin-right: 10px;
}

.messages__message {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis: 40%;

    background-color: $bg-message-color;
    border-radius: $border-radius-button;

    width: fit-content;

    padding: 12px 17px;

    &:before {
        content: '';
        display: inline-block;
        position: absolute;

        left: -6px;
        top: 100%;
        transform: translateY(-100%);

        width: 12px;
        height: 12px;

        background: url('./images/shape_left.png') center center no-repeat;
        background-size: contain;
    }
}

.messages__text {
    margin-right: 15px;
}

.messages__data {
    align-self: flex-end;
    color: rgba($text-color, .4);
    
    position: relative;
    top: 10px;
    left: 10px;
}