.messages {
    padding: 4px 12px;
}

.messages__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.messages__item {
    display: flex;

    &.messages__item--me {
        flex-direction: row-reverse;
        justify-content: flex-start;

        .messages__avatar {
            margin-right: 0;
            margin-left: 10px;
        }

        .messages__content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .messages__message {
            background-color: $bg-my-message-color;

            &:first-child::before {
                right: -6px;
                left: auto;

                background: url('./images/shape_right.png') center center no-repeat;
            }
        }
    }
}

.messages__avatar {
    flex-shrink: 0;
    position: relative;
    width: 34px;
    height: 34px;

    overflow: hidden;
    border-radius: 50%;

    background-color: $bg-element-color;
    margin-right: 10px;
}

.messages__content {
    margin-bottom: 4px;
    flex: 0.45;
}

.messages__message {
    position: relative;
    display: flex;
    align-items: center;

    padding: 10px 16px;
    border-radius: $border-radius-button;
    background-color: $bg-message-color;

    width: fit-content;

    margin-bottom: 4px;

    &:first-child::before {
        content: '';
        display: inline-block;
        position: absolute;

        left: -6px;
        top: 100%;
        transform: translateY(-100%);

        width: 12px;
        height: 12px;

        background: url('./images/shape_left.png') center center no-repeat;
        background-size: contain;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.messages__text {
    margin-right: 15px;
}

.messages__data {
    position: relative;
    top: 7px;
    left: 7px;

    margin-left: auto;
    margin-top: auto;
    color: rgba($text-color, .4);
}