include ./mixins

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Чат (ВП №2)
        link(rel="stylesheet" href="main.min.css")
    body
        .wrapper
            include ./templates/auth
            
            include ./templates/chat
            
            include ./script-templates/message
            include ./script-templates/members
            include ./script-templates/qmembers
            include ./script-templates/options
            include ./script-templates/loadphoto
            
        script(src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")
        script(defer src="./scripts/main.js" type="module")
