//@import url('https://fonts.googleapis.com/css?family=Courier+New:400');

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/ubuntu-medium-webfont.woff2') format('woff2'), url('../../fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: $normal;
    font-style: normal;
}

