//Шрифт
$normal: 400;

$text-color: white;
$text-description-color: #7f91a4;
$text-placeholder-color: #5d6873;

$bg-color: #09101a;
$bg-layout-color: #17212b;
$bg-chat-color: #0e1621;
$bg-element-color: #242f3d;
$bg-button-color: #5288c1;
$bg-button-hover-color: #306298;
$bg-input-color: #242f3d;
$bg-message-color: #182533;
$bg-my-message-color: #2b5278;

$border-radius-button: 6px;

$delay: .4s;

// $input-text-color: #6d7883;

