section#auth.auth.hidden
    .container
        .auth__wrapper
            .logo
                .logo__image
                    +image("logo","./images/auth_logo.png")
            h2.auth__title Авторизация
            .auth__form
                form(name="authorizationForm").form
                    .form__container
                        label.form__label Введите пожалуйста свое фио и ник для дальнейшей авторизации
                        .form__input-container
                            label.form__label
                                input(type="text" placeholder="Введите свое имя" name="nameUser" autocomplete="off").form__input
                            label.form__label
                                input(type="text" placeholder="Введите свой ник" name="nickNameUser" autocomplete="off").form__input
                        button(type="submit" name="authorizationButton").form__button Войти