section.chat
    .container
        aside.chat__left
            .menu
                ul.menu__addition
                    - for (var i = 0; i < 3; i++)
                        li.menu__button
                .menu__search
                    input(type="input" placeholder="Найти...").menu__search-input
            .members
                ul.members__list
                    li.members__item.members__item--me
                        .members__avatar
                            +image("members", "./images/photo_no-image.png")
                        .members__info
                            .members__name Игорь Яицкий 
                            .members__lastmessage Рад был пообщаться
                    li.members__item
                        .members__avatar
                            +image("members","./images/photo_no-image.png")
                        .members__info
                            .members__name Алексей Трубин
                            .members__lastmessage Привет!
        .chat__right
            main.main
                .main__header
                    .header
                        h1.header__title Чат
                        .header__q-members
                            span.header__quantity 2 
                            span.header__text участника
                .main__content
                    .messages
                        ul.messages__list
                            li.messages__item
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text Привет
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Как дела? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quaerat ut fuga ratione fugit facere aliquam officia? Adipisci ut inventore numquam commodi fuga saepe consequuntur deserunt animi blanditiis, incidunt dicta!
                                        .messages__data 17:55
                            li.messages__item.messages__item--me
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text Привет!
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Хорошо
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Как у тебя дела?
                                        .messages__data 17:55
                            li.messages__item
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text У меня тоже все хорошо
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Рад был пообщаться
                                        .messages__data 17:55
                            li.messages__item
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text У меня тоже все хорошо
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Рад был пообщаться
                                        .messages__data 17:55
                            li.messages__item
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text У меня тоже все хорошо Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusantium odit reprehenderit, error modi rerum assumenda unde, cum, accusamus a placeat libero ipsum labore iste. Cumque mollitia a consequuntur illo.
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Рад был пообщаться Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quas sint, pariatur, blanditiis aspernatur voluptatem quae eius, debitis dolorem earum saepe obcaecati. In numquam inventore deserunt quisquam facilis distinctio aliquam!Natus veniam, magni ipsa quasi quam soluta eum enim aspernatur repellat et dignissimos eius error neque id quod in libero cum culpa ipsum. Officiis sequi laudantium velit porro error est.Eos eius ipsa laudantium perspiciatis quo cupiditate quas nemo atque minus, dolores aspernatur accusamus nesciunt esse excepturi a dignissimos dicta temporibus ipsam consectetur repellat magnam nobis? Corrupti dicta ducimus nulla.Accusamus quam, eaque quas qui aliquam vitae. Nam perspiciatis molestias magni qui eligendi provident. Praesentium tempora perferendis veritatis voluptatem quae ipsum sint dignissimos nemo beatae consectetur, temporibus consequuntur architecto sapiente!Cupiditate veniam hic nulla minus incidunt voluptatibus quis. Saepe ipsa pariatur ullam, mollitia debitis labore rerum exercitationem nostrum a corrupti repellat quia laudantium nemo animi inventore perspiciatis molestiae consequatur quae.Eligendi soluta nesciunt porro at dolorum aperiam dolor neque iusto! Commodi, hic voluptatum architecto id fugit natus sunt odit veritatis eos vero repellat nobis sed corrupti nihil! Quo, fugit culpa?Corrupti consequuntur ipsum tempora modi ratione voluptatum tenetur unde quis eligendi nam minima, at aut ab pariatur, qui earum dolorum! Tenetur necessitatibus accusamus minima similique! Exercitationem maiores incidunt ducimus ad!Incidunt qui nam debitis totam assumenda, harum nihil quis voluptate recusandae modi officia perferendis error in ratione natus accusamus. Inventore quisquam ducimus vero? Cupiditate adipisci fugit rerum suscipit. Praesentium, delectus.Dolorum aspernatur impedit facilis repudiandae quis beatae ab maxime tempora eaque necessitatibus aut rem eos doloremque quas assumenda at, vero, consectetur debitis vel, nemo non molestias. Optio delectus omnis neque?Eos magni neque rem, amet illo distinctio molestiae architecto laudantium omnis sint dolorem veniam similique illum impedit eum dolor laborum inventore incidunt tempore doloremque magnam ducimus, accusamus repellendus! Expedita, aut?Quibusdam voluptatem consectetur facilis iste temporibus corrupti recusandae blanditiis voluptate odit officia earum laboriosam sint aperiam numquam ad fugiat eos dicta quos, ab, cum voluptates obcaecati beatae ex. Molestias, vitae?Reprehenderit odio vitae eligendi velit quia expedita necessitatibus, repellendus excepturi error vel nisi blanditiis neque nobis porro esse, fuga aperiam. Vitae similique laboriosam voluptatibus consequatur maiores veritatis architecto minus veniam?Atque blanditiis cum quas. Doloremque, quasi soluta! Laborum, quod aut fuga dolore eum pariatur commodi possimus quo unde optio, vel deserunt consectetur assumenda quisquam ratione suscipit placeat dolorum minima provident!Quia eius natus non quam, quaerat impedit repudiandae, dolor mollitia laudantium tenetur voluptas dignissimos! Perferendis iste obcaecati quos consectetur, voluptatibus consequuntur, officiis vero, nobis quibusdam incidunt iusto amet expedita ipsum!Provident quasi ad nulla velit quas amet maiores incidunt id natus ab delectus explicabo eum repudiandae nostrum, itaque ut nesciunt excepturi quis molestias quae quo! Nihil rem corporis provident voluptates?Consectetur cupiditate explicabo obcaecati alias perspiciatis nobis esse ducimus, sapiente officiis blanditiis cum, itaque accusamus ipsa aperiam quae minus necessitatibus non animi rem ipsum ab repudiandae quaerat recusandae. Mollitia, optio.Rem odio velit vero neque officiis deleniti fuga aperiam vitae, aliquid nisi dolorum! Obcaecati modi velit incidunt, sint aspernatur illo ut saepe voluptatem, impedit nihil placeat quos id nostrum enim?Labore necessitatibus soluta eaque sunt quod laborum ab id maiores voluptatum corporis laudantium, optio eum adipisci hic suscipit. Dignissimos ullam est atque nulla nisi eveniet placeat, quo ipsam quidem voluptatum.Ratione ad voluptatum odio, cupiditate quam a labore quos aspernatur tempora architecto eius qui, explicabo officiis facilis. Adipisci ad neque natus error pariatur minus iste, debitis fugit amet eum unde.Qui aliquid enim cumque, impedit deleniti, aspernatur numquam quisquam aut, sapiente deserunt molestias unde quibusdam in consequuntur quo soluta consectetur dolore a ipsa. Sint deserunt dignissimos esse soluta in molestias.
                                        .messages__data 17:55
                            li.messages__item
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text У меня тоже все хорошо
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Рад был пообщаться
                                        .messages__data 17:55
                            li.messages__item.messages__item--me
                                .messages__avatar
                                    +image("messages","./images/photo_no-image.png")
                                ul.messages__content
                                    li.messages__message
                                        .messages__text Привет Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto tempora sit, nam dolores expedita beatae natus veritatis fuga nihil. Iure quo, reiciendis temporibus atque ab quia excepturi cupiditate maiores enim.!
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Хорошо
                                        .messages__data 17:55
                                    li.messages__message
                                        .messages__text Как у тебя дела?
                                        .messages__data 17:55
                .main__footer
                    form(name="chatForm").form.form--chat
                        .form__container
                            input(type="input" placeholder="Введите сообщение...").form__input
                            button(type="button").form__button Отправить
