section.chat
    .container
        aside.chat__left
            .menu
                ul.menu__addition
                    - for (var i = 0; i < 3; i++)
                        li.menu__button
                .menu__search
                    input(type="input" placeholder="Найти...").menu__search-input
            .members
                ul.members__list
                    li.members__item.members__item--me
                        .members__avatar
                            +image("members", "./images/photo_no-image.png")
                        .members__info
                            .members__name Игорь Яицкий 
                            .members__lastmessage Рад был пообщаться
                    li.members__item
                        .members__avatar
                            +image("members","./images/photo_no-image.png")
                        .members__info
                            .members__name Алексей Трубин
                            .members__lastmessage Привет!
        .chat__right
            main.main
                .main__header
                    .header
                        h1.header__title Чат
                        .header__q-members
                            span.header__quantity 2 
                            span.header__text участника
                .main__content
                    .messages
                        ul#chatList.messages__list
                .main__footer
                    form(name="chatForm").form.form--chat
                        .form__container
                            input(type="input" placeholder="Введите сообщение...").form__input
                            button(type="button").form__button Отправить
