.chat
    .container
        aside.chat__left
            .menu
                .menu__options
                    button(type="button").menu__button#menuButton
                .menu__search
                    input(type="text" placeholder="Найти..." autocomplete="off")#findInput.menu__search-input
            .members
                ul.members__list#membersList
        .chat__right
            main.main
                .main__header
                    .header
                        h1.header__title Чат
                        .header__q-members
                            #usersQuantity
                .main__content
                    .messages
                        ul#chatList.messages__list
                .main__footer
                    form(name="chatForm").form.form--chat
                        .form__container
                            label.form__label
                                input(type="text" placeholder="Введите сообщение..." name="chatInput" autocomplete="off").form__input
                            button(type="button" name="chatButton" disabled="disabled").form__button Отправить
