script(type="text/x-pug-template")#message
    li(class="messages__item {{me}} {{hidden}}")
        .messages__avatar
            +image("messages","{{path}}")
        .messages__message
            .messages__text {{text}}
            .messages__data {{date}}