#options.options.hidden
    .container
        .options__wrapper#options__wrapper
                
script(type="text/x-pug-template")#optionsPhoto
    .options__close
        button(type="button").options__button
    .options__photo
        h2.options__title Загрузка фото
        .options__content
            .options__left
                a(href="").options__avatar
                    i.fas.fa-camera
            .options__right
                .options__name {{name}}
                .options__status.online В сети